html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    padding: 2px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    gap: 4px;
}

.box {
    flex: 0 0 calc(calc(100% / 4) - 4px);
    background-color: antiquewhite;
    padding-top: calc(calc(100% / 4) - 4px);
    width: 0;
    overflow: hidden;
}

/* button */

#gridCount {
    margin: 5px;
    padding: 2px;
}